pydantic
fastapi[standard]
uvicorn # Added explicitly as it's used directly in server.py
# google-genai # Removed as it seems unused
pydantic==2.11.1
pydantic-ai==0.0.46
pydantic-ai-slim==0.0.46 # Potentially unused?
pydantic-graph==0.0.46 # Potentially unused?
pydantic-settings==2.8.1 # Potentially unused?
pydantic_core==2.33.0
mcp==1.6.0
mdurl==0.1.2
openai==1.69.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
